*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}
/* Sidebar */

.sidebar {
  display: grid;
  height: 100vh;
  width: 15vw;
  background-color: #0284c7;
  padding: 1.5rem;
}

.sidebar-title {
  display: grid;
  color: white;
  grid-template-columns: 50px 50px;
  font-weight: bold;
}

.sidebar-middle {
  color: white;
  display: grid;
  grid-template-columns: 50px 50px;
  font-weight: bold;
}

.sidebar-end {
  padding-top: 4vh;
  color: white;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 40px 40px 40px;
  font-weight: bold;
}

.material-symbols-outlined {
  margin-top: -4px;
}

.navbar {
  width: 85vw;
  height: 20vh;
  background-color: white;
}

.tweek {
  width: 4vw;
}

.tweek-bigger {
  width: 6vw;
}

#search {
  background-color: #e2e8f0;
  border: none;
  border-radius: 24px;
  width: 40vw;
  height: 3vh;
}

.first-row {
  display: flex;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50vw;
}

.pfp {
  display: flex;
  justify-content: flex-end;
  padding-right: 4vw;
  align-items: center;
  width: 40vw;
  gap: 1.5rem;
}

.username {
  font-weight: bold;
}

.second-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 2vw;
}

.navbar-btn > * {
  background-color: #0284c7;
  border: none;
  color: white;
  width: 4vw;
  height: 3.5vh;
  font-weight: bold;
  border-radius: 24px;
}

.navbar-btn {
  padding-right: 4vw;
}

.projects {
  padding-left: 2rem;
  background-color: #e2e8f0;
  float: right;
  width: 65vw;
  height: 80vh;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 6vh 20vh 20vh;
}

.red-line {
  width: 2vw;
  height: 20vh;
  background-color: #ee3c23;
  border-radius: 8px 0px 0px 8px;
}

.calculator-visible,
.form-visible,
.etch-a-sketch-visible,
.landing-page-visible,
.admin-dashboard-visible {
  margin: 2rem;
}

.projects-header {
  background-color: #e2e8f0;
  width: 19vw;
  height: 2vh;
  margin-top: 2rem;
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}

.blank {
  background-color: #e2e8f0;
  height: 3vh;
}

.calculator-symbols,
.form-symbols,
.etch-a-sketch-symbols,
.landing-page-symbols,
.admin-dashboard-symbols {
  height: 7vh;
  gap: 2rem;
  justify-content: end;
  align-items: end;
  display: flex;
}

.calculator,
.form,
.etch-a-sketch,
.landing-page,
.admin-dashboard {
  width: 30vw;
  height: 20vh;
  background-color: white;
  border-radius: 8px;
  display: flex;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.announcements-content {
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  height: 32.5vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.announcements {
  display: flex;
  flex-direction: column;
  width: 15vw;
  background-color: #e2e8f0;
}

.announcements-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-repeat: 2rem;
}

.third-container {
  display: flex;
  background-color: #e2e8f0;
}

.gray-line {
  display: flex;
  justify-content: center;
  width: 12.5vw;
  height: 0.2vh;
  background-color: #94a3b8;
  border-radius: 24px;
}

.trending-pfp {
  height: 4dvb;
  width: 2vw;
}

.trending-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 15vw;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.tegan,
.tweek-pfp,
.kendall,
.alex {
  display: flex;
  margin-bottom: 1.5rem;
}

.trending-header {
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.trending-text {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
